body {
    /* The background image */
    background-image: url("./Images/toast.jpg");
    /* Set a specified height, or the minimum height for the background image */
    min-height: 500px;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    /* Set the background image to no repeat */
    background-repeat: no-repeat;
    /* Scale the background image to be as large as possible */
    background-size: cover;
}
.at-tile {
    background-color: rgba(0, 0, 0, .5);
    padding: 1em;
    border-radius: 0px;
    margin: 0.5em;
}
/*
form {
    display: block;
    margin-top: 0em;
    background-color: rgba(118, 73, 37, .2);
    padding: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border-radius: 5px;
    margin: 0.5em;
}
.form-control {
    color: rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .5);
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}*/
